@charset "UTF-8";

/*-----------------------------------------------
    
       ********** Table of Contents **********

01. =google fonts
02. =variables
03. =base
04. =header
05. =home
06. =about
07. =skills
08. =qualification
09. =work
10. =portfolio popup
11. =contact
12. =footer
13. =version petit ecran
14. =version moyen ecran
15. =version grand ecran
-----------------------------------------------*/



/* ---------------------------- 
        01 := google fonts 
---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');





/* ---------------------------- 
        02 := variables
---------------------------- */
:root{
    --body-color:  hsl(349, 36%, 43%);
    --title-color: hsl(62, 51%, 88%);
    --text-color: hsl(318, 22%, 80%);
    --background-menu: hsl(318, 22%, 85%);
    --first-color: hsl(318, 22%, 50%);
    --first-color-lighter: hsl(321, 22%, 85%);
    --first-color-alt: hsl(250, 69%, 61%);
    --background-color-popup: hsla(250, 30%, 8%, .8);    
    --backgroud-color-popo-inner: hsl(348, 28%, 66%);
}
        


/* ---------------------------- 
        03 := base
---------------------------- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 1rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

figure img{
    width: 90%;
}

section{
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
}


/* ---------------------------- 
        04 := My class
---------------------------- */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}

.h-max-content{
    height: max-content;
}

.title{
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--title-color);
}

.subtitle{
    color: var(--text-color);
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.text-align-center{
    text-align: center;
}

.justify-content-center{
    justify-content: center;
}

.weight-500{
    font-weight: 500;
}


/* ---------------------------- 
        05 := header 
---------------------------- */
header ul{
    background-color: var(--background-menu);
    backdrop-filter: blur(10px);
    border-radius: 4rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    width: 80%;
    margin-left: 5%;
}

header ul span{
    display: none;
}

.nav-link{
    color: var(--title-color);
    font-weight: 500;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    background: linear-gradient(180deg,
                hsla(250, 92%, 87%, 1),
                hsla(250, 92%, 87%, .2)
    );
    box-shadow: 0 0 16px rgba(53, 8, 255, 0.4);
}


/* ------------------------------- 
        06 := section1: about
------------------------------- */
.section1 .button{
    display: inline-block;
    background-color: var(--title-color);
    color: var(--body-color);
    padding: 1rem;
    width: 170px;
    border-radius: .5rem;
    height: 3.8rem;
    margin-top: 1.5rem;
}

.icon{
    font-size: 20px;
    margin-left: .5rem;
}

.section1 article{
    width: 90%;
    margin: auto;
}

.section1 p{
    font-size: 1.2rem;
}

strong{
    font-size: 1.8rem;
}

/* --------------------------------------- 
        07 := section2: skills
---------------------------------------  */
dl{
    width: 95%;
    margin: auto;
    margin-top: 2rem;
}

dl > div:nth-of-type(2){
    margin-top: 4rem;
}

dt i{
    font-size: 2rem;
    margin-right: .75rem;
    color: var(--first-color);
}

dt span{
    font-size: 1.2rem;
    color: #fff;
    margin-top: .2rem;
}

dd{
    padding-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.skills__titles{
    justify-content: space-between;
    margin-bottom: .8rem;
}

.skills__level{
    color: #fff;
    font-size: .93rem;
}

.skills__percentage,
.skills__bar{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar{
    background-color: var(--first-color-lighter);
}

.skills__percentage{
    background-color: var(--first-color);
}

.skills__experi{
    width: 90%;
}

.skills__indep{
    width: 75%;
}

.skills__inter{
    width: 60%;
}


/* --------------------------------------- 
        08 := section3: qualifications
---------------------------------------  */
.section3 .qualification__icon{
    color: #fff;
    font-size: 1.8rem;
    margin-right: .25rem;
}

.section3 .qualification__icon + span{
    font-size: 1.1rem;
    color: #fff;
    padding-top: .4rem;
}

.section3 > div > div, .section4 > article > div{
    margin-bottom: 2rem;
}

.section3 .qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.section3 .qualification__title{
    font-size: 1rem;
    margin-bottom: 0;
}

.section3 .qualification__subtitle{
    font-size: .93rem;
}

.section3 .qualification__calendar{
    font-size: .81rem;
    margin-top: 1rem;
    color: var(--title-color);
}

.section3 .qualification__rounder{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.section3 .qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

/* --------------------------------------- 
        09 := section4: portfolio
---------------------------------------  */

.section4 .work__container{
    padding-top: 1rem;
}

.section4 .work__item{
    color: var(--first-color);
    padding-top: .4rem;
    padding: .25rem .75rem;
    cursor: pointer;
    border-radius: .5rem;
}

.section4 .work__card{
    background-color: var(--text-color);
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 1.25rem;
    border-radius: .5rem;
    width: 90%;
    margin-bottom: 1rem;
}

.section4 .portfolio__item-details{
    display: none;
}
.section4 .active-work{
    background-color: var(--first-color);
    color: #fff;
}

.section4 .work__img{
    border-radius: .5rem;
    margin-bottom: 1rem;
    height: 210px;
}

.section4 .work__title{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.section4 .work__button{
    color: var(--first-color);
    font-size: .93rem;
    align-items: center;
    cursor: pointer;
}

.section4 .work__button-icon{
    font-size: 1rem;
    transition: .3s;
}

.section4 .work__button:hover .work__button-icon{
    transform: translateX(.25rem);
}


/* ---------------------------- 
        10 := portfolio popup
---------------------------- */

.portfolio__popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-popup);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.portfolio__popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner{
    background-color: var(--backgroud-color-popo-inner);
    color: #fff;
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio__popup-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.portfolio__popup-img{
    border-radius: .5rem;
}

.portfolio__popup-subtitle{
    margin-bottom: .25rem;
}

.portfolio__popup .details__title{
    font-weight: 500;
    margin-bottom: 1rem;
}

.portfolio__popup .details__description{
    margin-bottom: 2rem;
}

.portfolio__popup .details__info li{
    margin-bottom: .75rem;
    text-transform: capitalize;
}

.portfolio__popup .details__info li:last-child{
    margin-bottom: 0;
}

.portfolio__popup .details__info li span{
    font-weight: normal;
}

.portfolio__popup .details__info li a{
    text-transform: uppercase;
    color: var(--text-color);
}


/* --------------------------------------- 
        11 := footer
---------------------------------------  */
footer > div{
    display: flex;
    flex-direction: column;
}

footer .contact__information{
    margin-bottom: .8rem;
    margin-left: 11%;
} 

footer .contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: .75rem;
}

footer .contact__title{
    font-size: 1.1rem;
}

footer .contact__subtitle{
    font-size: .93rem;
    color: var(--title-color);
}

form{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

form .container_input{
    justify-content: space-between;
}

form .container_input > div{
    width: 48%;
}

form input, form textarea{
    background-color: var(--text-color);
    border-radius: .5rem;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

form input::placeholder, form textarea::placeholder{
    color: var(--body-color);
    font-weight: bold;
}

form button{
    background-color: var(--title-color);
    color: var(--body-color);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    width: max-content;
    margin-bottom: 1rem;
}

form button i{
    color: var(--body-color);
}


/* --------------------------------------- 
        12 := media queries
---------------------------------------  */
@media screen and (min-width: 576px){
    header ul span{
        display: block;
        margin-left: .5rem;
        margin-top: -0.1rem;
    }

    .section1 section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .section1 article{
        margin: 0;
        margin-top: .5rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .nav-link{
        font-size: .8rem;
    }

    dl{
        width: 70%;
    }

    .section1 article{
        width: 45%;
    }

    .section1 p{
        font-size: 1.5rem;   
    }

    strong{
        font-size: 2rem;
    }

    .section3 section{
        width: 70%;
        margin: auto;
    }

    .section4 .work__container{
        justify-content: space-between;
    }

    .section4 .work__card{
        width: 48%;
    }

    form{
        width: 80%;
    }
}


@media screen and (min-width: 768px){
    dl{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    dl > div{
        width: 46%;
        margin-top: 3rem;
    }

    .section1 article{
        width: 40%;
        margin-top: 3rem;
    }

    .section1 p{
        font-size: 2rem;
    }

    strong{
        font-size: 2.5rem;
    }

    .section3{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .section3 > div{
        margin-top: 3rem;
    }

    .section3 section{
        width: 50%;
        margin: auto;
    }

    .section4 .work__container{
        justify-content: space-around;
    }

    .section4 .work__card{
        width: 32%;
    }

    footer > div{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    footer article{
        width: 45%;
        height: max-content;
        align-self: center;
        padding-left: 10%;
    }

    footer article div{
        margin-top: .5rem;
    }

    form{
        width: 45%;
    }
}


@media screen and (max-width: 1400px){
    main{
        max-width: 1400px;
    }
}