@charset "UTF-8";

/*-----------------------------------------------
    
       ********** Table of Contents **********

01. =google fonts
02. =variables
03. =base
04. =header
05. =home
06. =about
07. =skills
08. =qualification
09. =work
10. =portfolio popup
11. =contact
12. =footer
13. =version petit ecran
14. =version moyen ecran
15. =version grand ecran
-----------------------------------------------*/



/* ---------------------------- 
        01 := google fonts 
---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');





/* ---------------------------- 
        02 := variables
---------------------------- */
:root{
    --first-color: hsl(250, 69%, 61%);
    --first-color-second: hsl(250, 30%, 8%);
    --first-color-alt: hsl(250, 57%, 53%);
    --first-color-lighter: hsl(250, 92%, 85%);
    --title-color: hsl(250, 8%, 95%);
    --text-color: hsl(250, 8%, 75%);
    --text-color-light: hsl(250, 8%, 65%);
    --input-color: hsl(250, 29%, 16%);
    --body-color: hsl(250, 60%, 99%);
    --body-color: hsl(250, 28%, 12%);
    --background-color-popup: hsla(250, 30%, 8%, .8);    --backgroud-color-popo-inner: hsla(240, 61%, 69%, 1);
    --backgroud-color-popo-inner: hsla(240, 30%, 25%, 1);
    --background-menu: rgba(176, 160, 248, 0.8);
    --background-card: rgba(196, 183, 251, 0.8);
    --container-color: hsl(250, 29%, 16%);  
}



/* ---------------------------- 
        03 := base
---------------------------- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    background-color: var(--body-color);
    color: var(--text-color);
    padding: 1rem;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

figure img{
    width: 90%;
}

section{
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
}


/* ---------------------------- 
        04 := My class
---------------------------- */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}

.h-max-content{
    height: max-content;
}

.title{
    font-size: 2rem;
    margin-top: 3rem;
}

.subtitle{
    color: var(--text-color);
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.text-align-center{
    text-align: center;
}

.justify-content-center{
    justify-content: center;
}

.weight-500{
    font-weight: 500;
}


/* ---------------------------- 
        05 := header 
---------------------------- */
ul{
    background-color: var(--background-menu);
    backdrop-filter: blur(10px);
    border-radius: 4rem;
    padding: 1rem 2rem;
    margin: 0;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    z-index: 100;
}

ul span{
    display: none;
}

.nav-link{
    color: var(--title-color);
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 5rem;
    background: linear-gradient(180deg,
                hsla(250, 92%, 87%, 1),
                hsla(250, 92%, 87%, .2)
    );
    box-shadow: 0 0 16px rgba(53, 8, 255, 0.4);
}


/* ------------------------------- 
        06 := section1: about
------------------------------- */

main{
    margin-top: 2rem;
}

.section1 .button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    width: max-content;
    border-radius: .5rem;
    height: 3.8rem;
}

.icon{
    font-size: 20px;
    margin-left: .5rem;
}

.section1 figure{
    width: 90%;
    background-color: var(--first-color);
    border-radius: 10%;
    justify-content: center;
    margin: auto;
}

.section1 figure + p, .section1 figure,  .section1 .button{
    margin-top: 1.5rem;
}

.section1 figure img{
    width: 85%;
}

.section1 figure, .section1 figure img{
    height: 220px;
}

/* --------------------------------------- 
        07 := section2: skills
---------------------------------------  */




/* --------------------------------------- 
        08 := section3: qualifications
---------------------------------------  */

.section3 .qualification__icon{
    color: var(--first-color);
    font-size: 1.8rem;
    margin-right: .25rem;
}

.section3 .qualification__icon + span{
    font-size: 1.1rem;
    color: var(--first-color);
    padding-top: .4rem;
}

.section3 > div > article, .section4 > article > div{
    margin-bottom: 2rem;
}

.section3 .qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.section3 .qualification__title{
    font-size: 1rem;
    margin-bottom: 0;
}

.section3 .qualification__subtitle{
    font-size: .93rem;
}

.section3 .qualification__calendar{
    font-size: .81rem;
    margin-top: 1rem;
    color: var(--text-color-light);
}

.section3 .qualification__rounder{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.section3 .qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

/* --------------------------------------- 
        09 := section4: portfolio
---------------------------------------  */

.section4 .work__container{
    padding-top: 1rem;
}

.section4 .work__item{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    padding-top: .4rem;
    padding: .25rem .75rem;
    cursor: pointer;
    border-radius: .5rem;
}

.section4 .work__card{
    background-color: var(--background-card);
    backdrop-filter: blur(10px);
    padding: 1.25rem;
    border-radius: .5rem;
    width: 90%;
    margin-bottom: 1rem;
}

.section4 .portfolio__item-details{
    display: none;
}
.section4 .active-work{
    background-color: var(--first-color);
    color: #fff;
}

.section4 .work__img{
    border-radius: .5rem;
    margin-bottom: 1rem;
    height: 210px;
}

.section4 .work__title{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.section4 .work__button{
    color: var(--first-color);
    font-size: .93rem;
    align-items: center;
    cursor: pointer;
}

.section4 .work__button-icon{
    font-size: 1rem;
    transition: .3s;
}

.section4 .work__button:hover .work__button-icon{
    transform: translateX(.25rem);
}


/* ---------------------------- 
        10 := portfolio popup
---------------------------- */

.portfolio__popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color-popup);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.portfolio__popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner{
    background-color: var(--backgroud-color-popo-inner);
    color: #fff;
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio__popup-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.portfolio__popup-img{
    border-radius: .5rem;
}

.portfolio__popup-subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: .25rem;
}

.details__title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.details__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.details__info li{
    margin-bottom: .75rem;
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details__info li:last-child{
    margin-bottom: 0;
}

.details__info li span{
    font-weight: normal;
}

.details__info li a{
    text-transform: uppercase;
    color: var(--text-color);
}


/* --------------------------------------- 
        11 := footer
---------------------------------------  */
footer section{
    display: flex;
    flex-direction: column;
}

footer .contact__information{
    margin-bottom: .8rem;
    margin-left: 11%;
} 

footer .contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: .75rem;
}

footer .contact__title{
    font-size: 1.1rem;
}

footer .contact__subtitle{
    font-size: .93rem;
    color: var(--text-color-light);
}

form{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

form .container_input{
    justify-content: space-between;
}

form .container_input > div{
    width: 48%;
}

form input, form textarea{
    background-color: var(--input-color);
    border-radius: .5rem;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

form input::placeholder, form textarea::placeholder{
    color: #fff;
}

form button{
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    width: max-content;
    margin-bottom: 1rem;
}