<header class="bg-blue-bg shadow-md sticky top-0 z-50 text-light">
  <nav class="container mx-auto px-4 py-4">
    <div class="flex items-center justify-between">
      
      <!-- Logo -->
      <div class="flex items-center space-x-4">
        <div class="hidden md:block">
            <svg width="46" height="44" viewBox="0 0 46 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M42.7111 17.5381L35.1163 40.916H10.5343L2.9386 17.5381L22.8253 3.08984L42.7111 17.5381Z" stroke="#EF6D58" stroke-width="5"/>
            </svg>
        </div>
        <span class="font-bold text-[16px] md:text-[26px] lg:text-[36px]">Sarah</span>
      </div>


      <!-- Menu Desktop -->
      <ul class="hidden md:flex space-x-20">
        <li *ngFor="let item of menuItems">
          <a 
            [routerLink]="item.route" 
            routerLinkActive="text-orange font-semibold"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-light hover:text-orange transition-colors duration-200">
            {{ item.label }}
          </a>
        </li>
      </ul>

      <!-- CTA Button Desktop -->
      <div class="hidden md:block">
        <button class="cursor-pointer px-6 py-2 uppercase border border-light rounded-xl hover:bg-orange transition-colors duration-200">
          Contact
        </button>
      </div>

      <!-- Burger Menu Mobile -->
      <button 
        (click)="toggleMenu()"
        class="md:hidden focus:outline-none">
        <svg class="w-8 h-8 text-light" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path 
            *ngIf="!isMenuOpen"
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M4 6h16M4 12h16M4 18h16">
          </path>
          <path 
            *ngIf="isMenuOpen"
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M6 18L18 6M6 6l12 12">
          </path>
        </svg>
      </button>
    </div>

    <!-- Menu Mobile -->
    <div 
      *ngIf="isMenuOpen"
      class="md:hidden mt-4 pb-4">
      <ul class="space-y-4">
        <li *ngFor="let item of menuItems">
          <a 
            [routerLink]="item.route"
            (click)="toggleMenu()"
            routerLinkActive="text-orange font-semibold"
            [routerLinkActiveOptions]="{exact: true}"
            class="text-light hover:text-orange transition-colors duration-200">
            {{ item.label }}
          </a>
        </li>
      </ul>
      <button class="w-full mt-4 cursor-pointer px-6 py-2 uppercase border border-light rounded-xl hover:bg-orange transition-colors duration-200">
        Contact
      </button>
    </div>
  </nav>
</header>