<section class="px-[6%] py-8 md:py-20 bg-blue-bg text-light" id="skills">
    <h2 class="text-[28px] md:text-[48px] text-center font-bold">My <span class="text-orange">skills</span></h2>

    <p class="text-[20px] md:text-[30px] text-center mt-4">Frontend</p>
    <div>
        <p>ReactJs</p>
        <p>TypeScript</p>
        <p>Angular</p>
        <p>Tailwind</p>
    </div>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Backend</p>
    <p>NodeJs</p>
    <p>NestJs</p>
    <p>Express</p>
    <p>Python</p>
    <p>Django</p>
    <p>Flask</p>
    <p>Java</p>
    <p>Spring Boot</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">DevOps</p>
    <p>Docker</p>
    <p>Kubernetes</p>
    <p>AWS</p>
    <p>Git</p>
    <p>CI/CD</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Databases</p>
    <p>MySQL</p>
    <p>PostgreSQL</p>
    <p>MongoDB</p>
    <p>Redis</p>
    <p>Firebase</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Supervision</p>
    <p>Prometheus</p>
    <p>Grafana</p>
    <p>ELK Stack</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Gestion projet</p>
    <p>Jira</p>
    <p>Confluence</p>
    <p>Asana</p>
</section>
