<section class="px-[6%] py-8 md:py-20 bg-blue-bg text-light" id="skills">
    <h2 class="text-[28px] md:text-[48px] text-center font-bold">My <span class="text-orange">skills</span></h2>

    <p class="text-[20px] md:text-[30px] text-center mt-4">Frontend</p>
    <div>
        <p>ReactJs</p>
        <p>TypeScript</p>
        <p>Angular</p>
        <p>Tailwind</p>
    </div>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Backend</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">DevOps</p>
    <p class="text-[20px] md:text-[30px] text-center mt-4">Databases</p>
</section>
