/* --------------------------------------- 
        11 := footer
---------------------------------------  */
footer > div{
    display: flex;
    flex-direction: column;
}

footer .contact__information{
    margin-bottom: .8rem;
    margin-left: 11%;
} 

footer .contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: .75rem;
}

footer .contact__title{
    font-size: 1.1rem;
}

footer .contact__subtitle{
    font-size: .93rem;
    color: var(--title-color);
}

form{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

form .container_input{
    justify-content: space-between;
}

form .container_input > div{
    width: 48%;
}

form input, form textarea{
    background-color: #fff;
    border-radius: .5rem;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

form button{
    background-color: var(--text-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    width: max-content;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

form button i{
    color: var(--body-color);
}

form .hidden{
    display: none;
    color: rgb(235, 76, 76);
    font-size: .8rem;
    margin-bottom: .8rem;
}