/* --------------------------------------- 
        14 := section movies
---------------------------------------  */
#movies{
    background-color: var(--text-color);
    border-radius: 2rem;
    text-align: center;
    padding-top: 2rem;
}

#movies .subtitle{
    color: #fff;
    font-size: 2rem;
}

#movies div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#movies article{
    width: 90%;
    margin: auto;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}

.movies__title{
    color: var(--title-color);
    font-size: 1.5rem;
}

.movies__title +  img{
    height: 300px;
    margin-top: 1rem;
    border-radius: 1rem;
}

.movies__overview{
    color: #fff;
    margin-top: 1rem;
}