/* --------------------------------------- 
        08 := section3: qualifications
---------------------------------------  */
.section3 .qualification__icon{
    color: #fff;
    font-size: 1.8rem;
    margin-right: .25rem;
}

.section3 .qualification__icon + span{
    font-size: 1.1rem;
    color: #fff;
    padding-top: .4rem;
}

.section3 > div > div, .section4 > article > div{
    margin-bottom: 2rem;
}

.section3 .qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.section3 .gauche, .section3 .droite{
    opacity: 1;
} 

.section3 .qualification__title{
    font-size: 1rem;
    margin-bottom: 0;
}

.section3 .qualification__subtitle{
    font-size: .93rem;
}

.section3 .qualification__calendar{
    font-size: .81rem;
    margin-top: 1rem;
    color: var(--title-color);
}

.section3 .qualification__rounder{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.section3 .qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}