<section class="px-[6%] py-8 md:py-20 bg-beige-bg text-dark" id="projects">
  
  <p class="text-[18px] md:text-[28px] text-orange text-center">Portfolio</p>
  <h2 class="text-[28px] md:text-[48px] text-center font-bold">
    A small selection of <span class="text-orange">recent projects</span>
  </h2>
  
  <div class="mt-10 flex flex-row flex-wrap justify-center gap-8">
    @for (project of projects; track project.title) {
      <app-project-card [project]="project"></app-project-card>
    }
  </div>
</section>