:host {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  :host {
    width: calc(31% - 2rem);
    margin-right: 2rem;
  }
  
  :host:nth-child(3n) {
    margin-right: 0;
  }
}

article {
  height: 100%;
  width: 100%;
}